:root {
  --bg: #151c2c; /* Dark background */
  --bgSoft: #182237; /* Slightly lighter background */
  --text: #ffffff; /* White text */
}



/* globals.css */

:root {
  --bg: #151c2c;
  --bgSoft: #1a253a;
  --text: white;
  --textSoft: #b7bac1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
