.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.buttons button{
    padding:40px;
    margin:10px;
    background-color: teal;
    color:var(--text);
    border:none;
    border-radius: 10px ;
    font-size: 40px;
    cursor: pointer;
}

