.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.divInput {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: var(--text);
  margin-bottom: 10px;
}

.divInput input,
.divInput textarea,
.divInput select {
  padding: 15px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  font-size: 16px;
}

.divInput input,
.divInput select {
  width: 100%;
}

.divInput textarea {
  width: 100%;
  height: 60px;
}

.buttonContainer {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonContainer button {
  width: 100%;
  padding: 15px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.successMessage {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
